.7z
.avi
.avif
.bmp
.dmg
.doc
.docx
.flac
.flv
.gif
.h264
.heic
.iso
.jfif
.jpeg
.jpg
.json
.log
.m4v
.mid
.midi
.mkv
.mov
.mp3
.mp4
.mpa
.mpg
.mpeg
.ogg
.pdf
.pickle
.png
.pkg
.ppt
.pptx
.psd
.rar
.svg
.tar.gz
.tif
.tiff
.ts
.vid
.wav
.webm
.webp
.wma
.wmv
.xls
.xlsm
.xlsx
.zip